@inherits UmbracoTemplatePage<BlogItem>

@using NicBell.UCreate.Test.DocumentTypes

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Model.Content.MetaTitle;
}


<article>
    <h1>@Model.Content.ItemTitle</h1>
    <h6><time datetime="@Model.Content.ItemDate.ToString("yyyy-MM-dd")">@Model.Content.ItemDate.ToString("ddd, dd MMM yyyy")</time></h6>

    @Html.Raw(Model.Content.Intro)
    @Html.Raw(Model.Content.Body)
</article>

