@inherits UmbracoTemplatePage<Home>

@using NicBell.UCreate.Test.DocumentTypes
@using Umbraco.Web.Templates

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Model.Content.MetaTitle;
}

<div class="jumbotron">
    <h1>@Model.Content.Name</h1>
    @Html.Raw(TemplateUtilities.ParseInternalLinks(Model.Content.SomeCopy))
</div>

<div class="page-header">
    <h1>Examples using custom converters</h1>
</div>

<div class="page-header">
    <h3>Some Things</h3>
</div>
<p><span class="label label-default">ArchetypeListConverter</span> custom type converter, converts Archetype content into a strongly typed list.</p>
<dl>
    @foreach (var thing in Model.Content.Things)
    {
        <dt>@thing.Name</dt>
        <dd>@Html.Raw(TemplateUtilities.ParseInternalLinks(thing.Description))</dd>
    }
</dl>

<div class="page-header">
    <h3>Some Color</h3>
</div>
<p><span class="label label-default">NiceColorConverter</span> custom type converter, splits color HEX into RGB.</p>
<ul>
    <li>Red: @Model.Content.SomeColor.R</li>
    <li>Green: @Model.Content.SomeColor.G</li>
    <li>Blue: @Model.Content.SomeColor.B</li>
</ul>


<div class="page-header">
    <h3>Some Links</h3>
</div>
<p><span class="label label-default">RelatedLinksConverter</span> built into UCreate.</p>
<ul>
    @foreach (var link in Model.Content.SomeLinks)
    {
        <li><a href="@link.Link">@link.Caption</a></li>
    }
</ul>

<div class="page-header">
    <h3>Tags</h3>
</div>
<p><span class="label label-default">ValueListConverter</span> custom type converter, converts a CSV string into a List of strings.</p>
<ul>
    @foreach (var tag in Model.Content.Tags)
    {
        <li>@tag</li>
    }
</ul>

<div class="page-header">
    <h3>Promoted Posts Using Lazy type</h3>
</div>
<ul>
    @foreach (var post in Model.Content.PromotedPosts.Value)
    {
        <li><a href="@post.Url">@post.Name</a></li>
    }
</ul>


<div class="page-header">
    <h3>Promoted Posts Using helpers</h3>
</div>
<ul>
    @foreach (var post in Model.Content.PromotedPostsIds.Select(x => new BlogItem(Umbraco.TypedContent(x))))
    {
        <li><a href="@post.Url">@post.Name</a></li>
    }
</ul>

<hr />
<p>That's all for now.<br /><br /></p>
