@inherits UmbracoTemplatePage<Home>

@using NicBell.UCreate.Test.DocumentTypes
@using Umbraco.Web.Templates

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = Model.Content.MetaTitle;
}

<div class="jumbotron">
    <h1>@Model.Content.Name - @Model.Content.MetaTitle</h1>
    @Html.Raw(TemplateUtilities.ParseInternalLinks(Model.Content.SomeCopy, Umbraco.UrlProvider))
</div>

<div class="page-header">
    <h1>Examples using custom converters</h1>
</div>

<div class="page-header">
    <h3>Some Things</h3>
</div>
<p>Archetype content as a strongly typed list.</p>
<dl>
    @foreach (var thing in Model.Content.Things)
    {
        <dt>@thing.Name</dt>
        <dd>@Html.Raw(TemplateUtilities.ParseInternalLinks(thing.Description, Umbraco.UrlProvider))</dd>
    }
</dl>

<div class="page-header">
    <h3>Some Color</h3>
</div>
<p><span class="label label-default">ColorPickerConverter</span>, splits color HEX into RGB.</p>
<ul>
    <li>Red: @Model.Content.SomeColor.R</li>
    <li>Green: @Model.Content.SomeColor.G</li>
    <li>Blue: @Model.Content.SomeColor.B</li>
</ul>


<div class="page-header">
    <h3>Some Links</h3>
</div>
<p>RelatedLinks built-in Umbraco converter.</p>
<ul>
    @foreach (var link in Model.Content.SomeLinks)
    {
        <li><a href="@link.Link">@link.Caption</a></li>
    }
</ul>

<div class="page-header">
    <h3>Tags</h3>
</div>
<p>List of strings from composition page.</p>
<ul>
    @{
        // Get composition page, TODO make this nicer
        var taggedPage = new TaggedPage(Model.Content);
    }

    @foreach (var tag in taggedPage.Tags)
    {
        <li>@tag</li>
    }
</ul>

<div class="page-header">
    <h3>Promoted Posts</h3>
</div>
<ul>
    @foreach (var post in Model.Content.PromotedPosts)
    {
        <li><a href="@post.Url">@post.Name</a></li>
    }
</ul>

<hr />
<p>That's all for now.<br /><br /></p>
